extends ./layout.jade

block content
  #page-wrapper
    .row
      .col-lg-12
        h1.page-header #{page_title}
    .row
      .col-lg-12
          .panel.panel-default
            .panel-heading
            ///.panel-heading
            .panel-body
              .row
                .col-lg-12
                  select.form-controller(name="paciente")
                    - for (var i = 0; i < array.length; i++) {
                      array[i]
                    }
